<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="chat.component.css">
</head>
<body> 
<div class="container">
  <nav class="navbar navbar-inverse bg-faded">
    <label id="sidebar-button" for="slide-sidebar"><span class="fa fa-bars" ></span></label>
    <a class="navbar-brand" href="#">Noch</a>
  </nav>
</div>
  <input id="slide-sidebar" type="checkbox" role="button"/>
  <div class="sidebar">
    <h1>Channels</h1>
    <div class="channels-container">
        <div class="channel-name">
            <div class="channel-name-text">Channel Name</div>
        </div>
        <div class="channel-name">
            <div class="channel-name-text">Channel Name</div>
        </div>
    </div>
  </div>
  <div class="content-container"><h1>Content</h1></div>
</body> 