  <nav class="navbar navbar-inverse bg-faded" style="margin: 0">
    <a class="navbar-brand" [routerLink]="['home']">Noch</a>
    <button id="login" class="nav-button" [routerLink]="['../login']">Login</button>
    <button id="signup" class="nav-button" [routerLink]="['../signup']">Signup</button>
  </nav>
  <div>
    <div class="parallax-top top-cell">
       <div class="trim-content-box slogan-box"><div id="start-button-text">Chat Your Way</div></div>   
  </div>
</div>
  <div class="info">
    <div class="header">What is Noch</div>
    <div class="text"> 
        Noch is a school project that was originally built using meteorjs, nodejs, mysql and basic html/css/javascript. It was later adapted into ASP.NET MVC using signalR and SqlServer. This version of Noch is built with Meteor,Nodejs and Angular2 rather than the  builtin Blaze-html-templates package. It will also use a MySQL database that is set up on my raspberry pi.
    </div>
      <div class="image-set">
        <img class="single-img" id="meteor-logo" src="imgs/meteorjs-logo-red.png" style="width:130px;">
        <img class="single-img" id="angular-logo"src="imgs/angular.svg" style="width:100px;">
        <img class="single-img" id="mysql-logo"src="imgs/MySQL-Logo.png" style="height:100px;">
        <img class="single-img" id="node-logo" src="imgs/node-js-736399_960_720 (1).png" style="width:130px;">
        <img class="single-img" id="pi-logo"src="imgs/qC2eT.png" style="height:100px;">
      </div>
  </div>
   <div class="parallax">
  </div>
  <div class="info">
    <div class="header">Extra Random Stuff</div>
    
    <div class="text">
      Ajax without plug-ins. Flow is an application is a target. Vanilla is not available in and the Netscape Navigator Web browser for a function that restricts the page content for creating user interfaces. Applications such as Self and media queries. Webpack is the concept of common use of desktop widgets. (http://jsipsum.lunarlogic.io/)
    </div>
  </div>
