  <nav class="navbar navbar-inverse bg-faded" style="margin: 0">
    <a class="navbar-brand" [routerLink]="['home']">Noch</a>
    <button id="home" class="nav-button" [routerLink]="['../home']">Home</button>
  </nav>
  <div class="background-img-fullscreen top-cell">
        <div class="trim-content-box signup-box">
          <div class="header" id="register-box">Register</div> 
          <div> 
              <div class="input-group">
                <label for="username" class="input-label" id="username-label">Username</label>
                <input type="text" id="username" name="username" class="input-box">
              </div>
              <div class="input-group">
                <label for="password" class="input-label" id="password-label">Password</label>
                <input type="password" id="password" name="password" class="input-box">
                </div>
              <div class="input-group">
                <label for="passwordrepeat" class="input-label" id="passwordrepeat-label">Confirm Password</label>
                <input type="password" id="passwordrepeat" name="passwordrepeat" class="input-box">
              </div>
              <div class="input-group">
                <label for="email" class="input-label" id="email-label">Email</label>
                <input type="text" id="email" name="email" class="input-box">
              </div>
            
              <div class="input-group">
                <button type="submit" id="signup" class="signup-button">Sign Up</button>
              </div>
            
          </div>
        </div>   
  </div>