<nav class="navbar navbar-inverse bg-faded" style="margin: 0">
    <a class="navbar-brand" [routerLink]="['home']">Noch</a>
    <button id="home" class="nav-button" [routerLink]="['../home']">Home</button>
</nav>
<div class="background-img-fullscreen top-cell">
    <div class="trim-content-box signup-box">
        <div class="header" id="register-box">Register</div>
        <form [formGroup]="signupForm">
            <div class="input-group">
                <label for="username" class="input-label" id="username-label">Username</label>
                <input type="text" formControlName="frmusername" id="username" name="username" class="input-box">
            </div>
            <div *ngIf="!frmusername.valid" class="error-container">
                <p *ngIf="frmusername.errors.invalidUsername" class="col-xs-11 error">Username is taken.</p>
            </div>
            <div class="input-group">
                <label for="password" class="input-label" id="password-label">Password</label>
                <input type="password" formControlName="frmpassword" id="password" name="password" class="input-box">
            </div>
            <div *ngIf="!frmpassword.valid" class="error-container">
                <p *ngIf="frmpassword.errors.invalidPassword" class="col-xs-11 error">Password is invalid.</p>
            </div>
            <div class="input-group">
                <label for="passwordrepeat" class="input-label" id="passwordrepeat-label">Confirm Password</label>
                <input type="password" (keyup)="checkPasswords()" formControlName="frmpasswordrepeat" id="passwordrepeat" name="passwordrepeat" class="input-box">
            </div>
            <div *ngIf="!mismatchPasswords" class="error-container">
                <p *ngIf="!mismatchPasswords" class="col-xs-11 error">Passwords do not match</p>
            </div>
            <div class="input-group">
                <label for="email" class="input-label" id="email-label">Email</label>
                <input type="text" id="email" formControlName="frmemail" name="email" class="input-box">
            </div>
            <div *ngIf="!frmemail.valid" class="error-container">
                <p *ngIf="frmemail.errors.invalidEmail" class="col-xs-11 error">Email is Invalid.</p>
            </div>
            <div class="input-group">
                <button type="submit" [disabled]="!signupForm.valid" (click)="sumbitUser()" id="signup" class="signup-button">Sign Up</button>
            </div>

        </form>
    </div>
</div>