  <nav class="navbar navbar-inverse bg-faded" style="margin: 0">
        <a class="navbar-brand" [routerLink]="['home']">Noch</a>
        <button id="home" class="nav-button" [routerLink]="['../home']">Home</button>
        <button id="signup" class="nav-button" [routerLink]="['../signup']">Signup</button>
  </nav>
  <div class="background-img-fullscreen top-cell">
        <div class="trim-content-box login-box">
          <div class="header" id="login-box">Login</div> 
          <div> 
              <div class="input-group">
                <label for="username" class="input-label" id="username-label">Username</label>
                <input type="text" id="username" name="username" class="input-box">
              </div>
              <div class="input-group">
                <label for="password" class="input-label" id="password-label">Password</label>
                <input type="text" id="password" name="password" class="input-box">
              </div>
              
              <div class="input-group">
                <button type="submit" id="login" class="login-button">Login</button>
              </div>
            
          </div>
        </div>   
  </div>